* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #F2EAE2;
}

.card {
    margin: 2.8rem 1.6rem 2.8rem 1.6rem;
    /* border: 1px solid red; */
    /* width: 34.3rem;
    height: 61.1rem; */

    max-width: 70rem;
    max-height: 100vh;
    background: white;
    box-shadow: 0px .4rem .4rem 0px rgba(0, 0, 0, .25);
    border-radius: 1rem;
    overflow: hidden;
    /* height: 100%; */
}

.card .card__image {
    width: 100%;
    height: 240px;
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
}

.card .card__content {
    padding: 2.4rem;
}

.card .card__category {
    /* Overline */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5rem;
        /* identical to box height */
    
        letter-spacing: .5rem;
        text-transform: uppercase;
        /* Aurometal Saurus */
        color: #6C7289;
        margin-bottom: 1.2rem;
}

.card .card__heading {
    font-family: 'Fraunces';
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 1.6rem;
}

.card .card__content_description {
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #6C7289;
}

.card .card__price--container {
    display: flex;
    margin-top: 2.9rem;
    margin-bottom: 2rem;
}

.card .card__price--main {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.2rem;
    /* identical to box height, or 100% */


    /* Deep Aquamarine */

    color: #3D8168;
    margin-right: 1.9rem;
}

.card .card__price--cut {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.3rem;
    /* identical to box height, or 177% */

    text-decoration-line: line-through;

    /* Aurometal Saurus */

    color: #6C7289;
        align-self: center;
}

.btn {
    background-color: #3D8168;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px .4rem .4rem rgba(0, 0, 0, 0.25));
    padding: 1.5rem 9.2rem;
}

.btn > svg {
    margin-right: 1.161rem;
}

.btn__text {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
            width: 8.5rem;
                height: 1.7rem;
    
        /* Pure White */
    
        color: #FFFFFF;
}

@media screen and (max-width: 2000px) {
    .card {
        display: flex;
        margin: 17.5rem 42rem;
        max-width: 144rem;
    }

    .card .card__image, .card .card__content {
        width: 30rem;
    }

    .card .card__image {
        height: 45rem;
        background-image: url(./images/image-product-desktop.jpg);
    }

    .card .card__content {
        padding: 3.2rem;
    }
    
    .card .btn {
        padding: 1.5rem 6.3rem;
    }

    .card .btn__text {
        width: 8.5rem;
        height: 1.7rem;
    }

    .card .card__price--container {
        margin-bottom: 3rem;
    }
}

.btn:hover {
    background: #1A4032;
    cursor: pointer;
}